body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#blue{
    background-color: #699BF7;
}
#red{
    background-color: salmon;
}
#gray{
    background-color: gray;
}
a{
    text-decoration: none;
    color: black;
    font-size: 100px;
}
h1{
    font-size: 30px;
}
p{
    width: 500px;
    font-size: 20px;
}